html,
body {
    margin: 0;
    box-sizing: border-box;
}

.advice__container {
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-image: url(images/Darkforest.gif); */
    background-color: hsl(218, 23%, 16%);
}

.advice {
    width: 38%;
    height: 55%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(217, 19%, 24%);
    border-radius: 1rem;
    text-align: center;
}

.advice .advice__heading {
    color: hsl(150, 100%, 66%);
    text-align: center;
    padding-top: 3rem;
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.advice__content {
    color: hsl(193, 38%, 86%);
    width: 90%;
    height: 25%;
    margin: auto;
    font-size: 28px;
    padding-top: .5rem;
    font-family: 'Manrope', sans-serif;
    transition: all .5s;
    padding-bottom: 6rem;
}

.divider {
    margin-bottom: -.5rem;
    margin: 0 auto;
    width: 100%;
}

.btn__background {
    position: relative;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    left: 47.5%;
    top: 19%;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
    border: none;
}

@media only screen and (max-width: 600px) {
    .advice {
        width: 80%;
        height: 70%;
        position: relative;
        left: 50%;
        top: 40%;
    }
    .btn__background {
        left: 43%;
        top: -10%;
    }
}

.btn__background:hover,
.btn:hover {
    box-shadow: 0px 0px 20px 2px hsla(150, 100%, 66%, 0.794);
}

.btn__background:focus {
    outline: none;
}